body {
    font-family: sans-serif;
    background: #eef3fa url(../img/pattern.png) repeat;
    color: #828282;
    font-weight: 300;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.section {
    padding: 50px 0;
}

.bg-dark hr {
    border-top: 1px solid rgba(255, 255, 255, .05);
}

.counter {
    font-size: 24px;
    font-weight: 500;
}

/* /////////////////////////////////
	Typography
   ///////////////////////////////// */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: #292a2d;
}

h1 > small,
.h1 > small {
    font-size: 50%;
    color: #828282;
    font-weight: 300;
}

.lead {
    font-weight: 200;
}

b, strong, .strong {
    font-weight: 700;
}

.stronger, .bolder {
    font-weight: 600;
}

.quote {
    position: relative;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}

.quote:before {
    content: url(../../img/quote.svg);
    width: 30px;
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -15px;
}

.quote p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.quote cite,
.quote footer {
    font-size: .8rem;
    color: #9aa1a6;
    font-style: normal;
}

.alert {
    padding: .3rem .8rem;
    border-radius: 0;
    margin-bottom: 2rem;
}

/* /////////////////////////////////
	Main Navigation
   ///////////////////////////////// */

.main-nav {
    padding: 15px 0;
    transition: padding .4s, background-color .8s, box-shadow .35s;
    -webkit-transition: padding .4s, background-color .8s, box-shadow .35s;
}

.logo-img,
.alt-logo-img {
    height: 100%;
    transition: height .4s;
    -webkit-transition: height .4s;
    COLOR: #9da9b5;
    font-size: 28px;
    font-weight: 700;
    filter: drop-shadow(5px 5px 5px #222);
}

.alt-logo-img,
.dark-layout .logo-img {
    display: none;
}

.dark-layout .alt-logo-img {
    display: block;
}

.dark-layout .sticky .alt-logo-img {
    display: none;
}

.dark-layout .sticky .logo-img {
    display: block;
}

.sticky .logo-img {
    height: 25px;
}

.fixed {
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
    /* z-index:100; */
}

.sticky,
.banner-divided .main-nav {
    /* background-color: rgba(255,255,255,.98); */
    /* box-shadow:0 1px 4px rgba(0,0,0,.09); */
}

.banner-divided .main-nav {
    background-color: #fff;
}

.nav-wrap {
    position: absolute;
    top: 0;
    right: 14px;
}

.nav-wrap__list {
    list-style: none;
    display: -webkit-inline-box;
    float: left;
    margin-top: 13px;
}

.nav-wrap__list > li {
    margin-right: 30px;
}

.nav-wrap__list > li a {
    font-size: 14px;
    font-weight: 600;
    color: #9da9b5;
    text-transform: uppercase;
    padding: 6px 0;
    transition: color .35s;
    -webkit-transition: color .35s;
}

.nav-wrap__list > li a:hover {
    text-decoration: none;
}

.dark-layout .nav-wrap__list > li a {
    color: #fff;
}

.dark-layout .sticky .nav-wrap__list > li a {
    color: #a6a6ad;
}

/* /////////////////////////////////
	Nav Button
   ///////////////////////////////// */

.icard-nav-btn {
    display: inline-block;
    width: 30px;
    height: 25px;
    z-index: 1000;
    color: #292a2d;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.icard-nav-btn:hover {
    text-decoration: none;
}

.icard-nav-btn > i {
    font-size: 1.6rem;
    line-height: 1;
}

.icard-nav-btn span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #2f2e32;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.dark-layout .icard-nav-btn span {
    background-color: #fff;
}

.dark-layout .sticky .icard-nav-btn span {
    background-color: #2f2e32;
}

.icard-nav-btn span:nth-child(1) {
    top: 1px;
    width: 80%;
}

.icard-nav-btn span:nth-child(2), .icard-nav-btn span:nth-child(3) {
    top: 11px;
}

.icard-nav-btn span:nth-child(4) {
    top: 21px;
    width: 60%;
}

.icard-nav-btn.open span:nth-child(1) {
    top: 10px;
    width: 0;
    left: 50%;
}

.icard-nav-btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icard-nav-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icard-nav-btn.open span:nth-child(4) {
    top: 10px;
    width: 0;
    left: 50%;
}

/* /////////////////////////////////
	Main Banner
   ///////////////////////////////// */

.main-banner {
    /* padding:180px 0 120px; */
    text-align: center;
    background-position: 25% center;
    background-size: cover;
    position: relative;
}

.banner-divided .main-banner {
    padding: 120px 0 60px;
    text-align: center;
}

.main-banner-inner {
    padding: 80px 0 0;
}

.banner-carousel .main-banner {
    padding: 100px 0 40px;
}

.banner-title {
    font-weight: 600;
}

.banner-carousel .banner-title {
    font-size: 1.2rem;
}

.banner-sub-title {
    font-size: 1.1rem;
}

h1, .h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.parallax {
    position: relative;
    background-size: auto;
    background-position: left;
    background-repeat: no-repeat;
}

.dark-overlay:after,
.darker-overlay:after,
.primary-overlay:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .15;
}

.darker-overlay:after {
    opacity: .65;
}

.primary-overlay:after {
    opacity: .9;
}

.dark-overlay .container,
.parallax .container,
.darker-overlay .container,
.primary-overlay .container {
    position: relative;
    z-index: 10;
}

.banner-divided .banner-img {
    width: 100%;
    max-width: 560px;
    height: 280px;
    margin: 0 auto 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-carousel .flipster {
    margin-top: 30px;
}

.flip-items img {
    max-width: 280px;
    height: auto;
}

.flipster__item img {
    box-shadow: 0 0 50px rgba(0, 0, 0, .05);
}

.flipster__item--current img {
    box-shadow: none;
}

/* /////////////////////////////////
	Buttons
   ///////////////////////////////// */

.btn {
    font-family: 'Poppins', sans-serif;
    padding: 11px 25px;
    text-align: center;
    border-width: 2px;
    min-width: 220px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-rounded {
    border-radius: 30px;
}

.video-thumb {
    position: relative;
}

.video-thumb .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    z-index: 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

/* /////////////////////////////////
	Back to Top Button
   ///////////////////////////////// */

.go-top {
    display: block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    z-index: 100000;
    position: fixed;
    right: 20px;
    bottom: 16px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.cd-is-visible {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    opacity: 0.5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.go-top:hover,
.go-top:focus {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.go-top i {
    display: block;
    height: 36px;
    width: 36px;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
}

.go-top.cd-is-visible,
.go-top.cd-fade-out,
.no-touch .go-top:hover {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.go-top.cd-is-visible {
    visibility: visible;
    opacity: 0.6;
}

.go-top.cd-fade-out {
    opacity: .3;
}

.go-top.cd-fade-out:hover,
.no-touch .go-top:hover,
.go-top.cd-is-visible:hover {
    opacity: 1;
}

/* /////////////////////////////////
	Features / Icons
   ///////////////////////////////// */

.feature-one-wrap {
    padding: 20px 0;
}

.feature-one-wrap > i {
    font-size: 45px;
    display: block;
    margin-bottom: 20px;
}

.page-header-one > p {
    font-size: 1.1rem;
}

.icons-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.icons-list li i {
    font-size: 32px;
}

/* /////////////////////////////////
	Services
   ///////////////////////////////// */

.service {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}

.service > i,
.service > i:before {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.service > i {
    font-size: 38px;
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 15px;
}

.service:hover i {
    color: #fff;
}

.service .service-title {
    font-size: 1.19rem;
}

.service p {
    line-height: 1.7;
}

.service-two .service-title {
    margin-bottom: 10px;
}

.iconbox {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox i {
    font-size: 42px;
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 80px;
}

.iconbox-title {
    font-size: 17px;
}

.iconbox a {
    color: #828282;
}

.iconbox a:hover {
    text-decoration: none;
}

/* /////////////////////////////////
	Testimonials
   ///////////////////////////////// */

.testimonial {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    opacity: .5;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.testimonials-one {
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
}

.testimonial:after {
    font-family: 'FontAwesome';
    content: "\f10d";
    font-size: 23px;
    line-height: 1;
    position: absolute;
    bottom: 13px;
    right: 20px;
    color: #eee;
    color: rgba(0, 0, 0, .1);
}

.client-details {
    line-height: 1.3;
    font-size: .75rem;
}

.client-details strong {
    font-size: 1.1rem;
}

.testimonial blockquote p {
    font-weight: 200;
}

.rating {
    padding: 0;
    list-style: none;
}

.rating li {
    margin-right: 1px;
}

.rating li:last-child {
    margin-right: 0;
}

/* /////////////////////////////////
	Forms and Form Elements
   ///////////////////////////////// */

.contact-form {
    padding: 40px 20px;
}

.form-group {
    position: relative;
    margin-bottom: 40px;
}

.form-group span.error {
    position: absolute;
    bottom: -25px;
    right: 0;
    color: #db5656;
    font-size: .75rem;
}

.form-element-bar {
    position: relative;
    height: 1px;
    background: #ddd;
    background-color: rgba(0, 0, 0, .1);
    display: block;
}

.form-element-bar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #337ab7;
    height: 2px;
    display: block;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    will-change: transform;
}

.form-element-label {
    position: absolute;
    top: 1rem;
    line-height: 1.5rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #212529;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    will-change: transform, color, opacity;
}

.form-control {
    outline: none;
    display: block;
    background: none;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    color: #333;
    box-shadow: none;
    transition: opacity 0.28s ease;
    will-change: opacity;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.form-control:-ms-input-placeholder {
    color: #828282;
    transform: scale(0.9);
    transform-origin: left top;
}

.form-control::-webkit-input-placeholder {
    color: #828282;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.form-control::-ms-input-placeholder {
    color: #828282;
    transform: scale(0.9);
    transform-origin: left top;
}

.form-control::placeholder {
    color: #828282;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.form-control:focus ~ .form-element-bar::after {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.form-control.-hasvalue,
.form-control:focus {
    opacity: 1;
}

.form-control.-hasvalue ~ .form-element-label,
.form-control:focus ~ .form-element-label {
    -webkit-transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    transform: translateY(-100%) translateY(-0.5em) translateY(-2px) scale(0.9);
    cursor: pointer;
    pointer-events: auto;
}

.envelop {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 2px;
    background: rgb(86, 88, 219); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(86, 88, 219, 1) 13%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 25%, rgba(219, 86, 86, 1) 25%, rgba(219, 86, 86, 1) 37%, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 50%, rgba(86, 88, 219, 1) 50%, rgba(86, 88, 219, 1) 63%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 75%, rgba(219, 86, 86, 1) 75%, rgba(219, 86, 86, 1) 87%, rgba(255, 255, 255, 1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(13%, rgba(86, 88, 219, 1)), color-stop(13%, rgba(255, 255, 255, 1)), color-stop(25%, rgba(255, 255, 255, 1)), color-stop(25%, rgba(219, 86, 86, 1)), color-stop(37%, rgba(219, 86, 86, 1)), color-stop(37%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(86, 88, 219, 1)), color-stop(63%, rgba(86, 88, 219, 1)), color-stop(63%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(219, 86, 86, 1)), color-stop(87%, rgba(219, 86, 86, 1)), color-stop(87%, rgba(255, 255, 255, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(86, 88, 219, 1) 13%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 25%, rgba(219, 86, 86, 1) 25%, rgba(219, 86, 86, 1) 37%, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 50%, rgba(86, 88, 219, 1) 50%, rgba(86, 88, 219, 1) 63%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 75%, rgba(219, 86, 86, 1) 75%, rgba(219, 86, 86, 1) 87%, rgba(255, 255, 255, 1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(86, 88, 219, 1) 13%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 25%, rgba(219, 86, 86, 1) 25%, rgba(219, 86, 86, 1) 37%, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 50%, rgba(86, 88, 219, 1) 50%, rgba(86, 88, 219, 1) 63%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 75%, rgba(219, 86, 86, 1) 75%, rgba(219, 86, 86, 1) 87%, rgba(255, 255, 255, 1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(86, 88, 219, 1) 13%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 25%, rgba(219, 86, 86, 1) 25%, rgba(219, 86, 86, 1) 37%, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 50%, rgba(86, 88, 219, 1) 50%, rgba(86, 88, 219, 1) 63%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 75%, rgba(219, 86, 86, 1) 75%, rgba(219, 86, 86, 1) 87%, rgba(255, 255, 255, 1) 87%); /* IE10+ */
    background: linear-gradient(45deg, rgba(86, 88, 219, 1) 13%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 25%, rgba(219, 86, 86, 1) 25%, rgba(219, 86, 86, 1) 37%, rgba(255, 255, 255, 1) 37%, rgba(255, 255, 255, 1) 50%, rgba(86, 88, 219, 1) 50%, rgba(86, 88, 219, 1) 63%, rgba(255, 255, 255, 1) 63%, rgba(255, 255, 255, 1) 75%, rgba(219, 86, 86, 1) 75%, rgba(219, 86, 86, 1) 87%, rgba(255, 255, 255, 1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 100px 100px;
}

/* /////////////////////////////////
	Portfolio
   ///////////////////////////////// */

.zoom-in {
    color: #fff;
    display: block;
    opacity: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 12px;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.zoom-in i {
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.folio-card:hover .zoom-in,
.folio-card:hover .card-overlay {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.folio-card:hover .card-overlay {
    opacity: .95;
}

.zoom-in:hover {
    background-color: #fff;
    color: #343a40;
}

.zoom-in:hover i {
    -webkit-transform: scale(.7, .7);
    -ms-transform: scale(.7, .7);
    transform: scale(.7, .7);
}

.filtr-item {
    padding: 15px;
}

.filters-list {
    list-style: none;
}

.filters-list li {
    cursor: pointer;
    width: 100%;
    height: 35px;
    font-size: 1.03rem;
    line-height: 35px;
    text-align: center;
    margin: 0 0 10px 0;
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 50px;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.filters-list .category {
    width: auto;
    padding: 0 15px;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
}

.filters-list li:hover,
.filters-list .current {
    color: #fff;
}

.page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
    padding: 0;
    width: 39px;
    height: 39px;
    line-height: 38px;
    text-align: center;
    border-radius: 40px;
}

.page-link {
    border: solid 1px rgba(0, 0, 0, .1);
    font-weight: 500;
    color: #828282;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.page-item.disabled .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.page-link:hover,
.page-link:focus {
    color: #fff;
}

.project-wrap {
    padding: 120px 0 60px;
}

.project-wrap .project-title {
    position: relative;
}

.project-info {
    list-style: none;
    padding: 0;
}

.project-info li {
    margin-bottom: 1.6rem;
}

.project-info .feature-title {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: .04rem;
}

.project-info .feature-desc {
    font-size: .85rem;
}

.prev-next a {
    width: 33.333333%;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.prev-next i {
    font-size: 24px;
    line-height: 1;
    position: relative;
}

.prev-next i:after {
    content: '';
    width: 1px;
    height: 2px;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    opacity: 0;
    background-color: #212121;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.prev-next .prev i:after {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.prev-next .next i:after {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

.prev-next i {
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.prev-next .prev i:after {
    left: 22px;
}

.prev-next .next i:after {
    right: 22px;
}

.prev-next .prev:hover i:after {
    left: 11px;
    width: 30px;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.prev-next .next:hover i:after {
    right: 11px;
    width: 30px;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.prev-next .prev:hover i {
    margin-right: 11px;
}

.prev-next .next:hover i {
    margin-left: 11px;
}

.prev-next a:hover {
    background-color: #fff;
    text-decoration: none;
}

.prev-next .grid {
    overflow: hidden;
    position: relative;
}

.prev-next .grid .grid-text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    font-weight: 600;
    font-size: .9rem;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.prev-next .grid:hover .grid-text {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.prev-next .grid:hover i {
    opacity: 0;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
}

.share-list {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, .05);
    margin: 30px 0 0 0;
    padding-top: 15px;
}

.share-list:before {
    font-family: 'icomoon';
    content: '\e9c6';
    margin-right: 8px;
}

.share-list li a {
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    line-height: 37px;
    text-align: center;
    color: #828282;
    font-size: .9rem;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.share-list li a:hover {
    box-shadow: 0 20px 60px rgba(86, 88, 219, .35);
}

/* /////////////////////////////////
	Footer
   ///////////////////////////////// */

.site-footer {
    color: #aaa;
}

.ft-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ft-nav > li {
    margin-left: 8px;
    margin-right: 8px;
}

.site-footer a {
    color: #aaa;
    font-weight: 500;
    font-size: .95rem;
}

.site-footer a:hover,
.site-footer a:focus {
    color: #eee !important;
    text-decoration: none;
}

/* /////////////////////////////////
	Accent Color
   ///////////////////////////////// */

.nav-wrap__list > li.current a,
.dark-layout .sticky .nav-wrap__list > li.current a,
.nav-wrap__list > li a:hover,
.dark-layout .sticky .nav-wrap__list > li a:hover,
.iconbox a:hover,
.form-control:focus ~ .form-element-label,
.site-footer a:hover,
.site-footer a:focus,
.video-thumb .play-btn:hover i,
.video-thumb .play-btn:focus i,
.prev-next a,
.quote p,
.icard-nav-btn:hover {
    color: #2e3338;
    border-bottom: 3px solid #4a82e4;
}

.go-top,
.banner-sub-title:before,
.btn-primary,
.pagination-bullet-active,
.form-element-bar::after,
.site-footer .social-nav a:hover,
.site-footer .social-nav a:focus,
.primary-overlay:after,
.filters-list li:hover,
.filters-list .current,
.page-link:hover,
.page-link:focus,
.prev-next i:after,
.share-list li a:hover {
    background-color: #4a82e4;
}

.bg-primary,
.service:hover i {
    background-color: #5658db !important;
}

.bg-darker {
    background-color: #2f353a !important;
}

.form-control.error {
    color: #db5656;
}

.form-control.valid {
    color: #45c97a;
}

.btn-primary,
.filters-list li:hover,
.filters-list .current,
.page-link:hover,
.page-link:focus {
    border-color: #5658db;
}

.btn-light {
    background-color: #fff;
}

.btn-primary.btn-fancy {
    box-shadow: 0 3px 5px rgba(86, 88, 219, .35);
}

.service:hover i,
.filters-list li:hover,
.filters-list .current,
.page-link:hover,
.page-link:focus {
    box-shadow: 0 30px 90px rgba(86, 88, 219, .35);
}

.text-opac {
    color: #000;
}

.service:hover > i:before,
.parallax .text-opac,
.share-list li a:hover {
    color: #fff;
}

.text-opac {
    opacity: .65;
}

.bg-primary .btn-primary {
    border-color: #fff;
    background-color: #fff;
    color: #5658db;
    box-shadow: none;
}

.btn-line,
.bg-primary .btn-line {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .1);
    color: #292a2d;
    box-shadow: none;
}

.btn-line.light {
    border-color: rgba(255, 255, 255, .2);
    color: #fff;
}

.btn-line:hover,
.btn-line:focus,
.dark-layout .btn-line:hover,
.dark-layout .btn-line:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    border-color: #5658db;
    background-color: #5658db;
    color: #fff;
    box-shadow: 0 30px 90px rgba(86, 88, 219, .35);
}

.bg-primary .btn-line:hover,
.bg-primary .btn-line:focus {
    border-color: #fff;
    background-color: #fff;
    color: #5658db;
    box-shadow: none;
}

.text-gray {
    color: #a6a6ad !important;
}

.btn-primary.btn-fancy:hover,
.btn-primary.btn-fancy:focus,
.btn-primary.btn-fancy:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #5658db;
    border-color: #5658db;
    box-shadow: 0 30px 90px rgba(86, 88, 219, .35);
}

.btn-light.btn-fancy {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.play-btn {
    width: 45px;
    height: 45px;
    min-width: 45px;
    padding: 0 0 0 2px;
    line-height: 45px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

.btn-light.btn-fancy:hover {
    background-color: #fff;
    box-shadow: 0 30px 90px rgba(0, 0, 0, .35);
}

.play-btn:hover {
    color: #5658db;
}

.text-primary {
    color: #5658db !important;
}

.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
    box-shadow: none !important;
}

.carousel-btns {
    margin-top: 40px;
}

@media (min-width: 575px) {
    .container {
        width: 100%;
        min-height: 100%;
        min-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 575px) {
    .footer.section.site-footer.bg-dark {
        width: 1200px !important;
    }
}

@media (min-width: 575px) {
    .col-lg-9 {
        width: 75%;
        float: left;
    }
}

@media (min-width: 575px) {
    .col-lg-3 {
        width: 25%;
        float: left;
    }
}

@media (min-width: 575px) {
    .swiper-slide.swiper-slide-active {
        width: 800px !important;
    }
}

.blinking-cursor:after {
    content: '|';
    font-weight: 200;
    color: #5658db;
    -webkit-animation: .5s blink step-end infinite;
    -moz-animation: .5s blink step-end infinite;
    -ms-animation: .5s blink step-end infinite;
    -o-animation: .5s blink step-end infinite;
    animation: .5s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5658db;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #5658db;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5658db;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5658db;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #5658db;
    }
}

a.btn-startgames {
    background: linear-gradient(to right, #42a4f3, #5260d5);
    padding: 0px 10px;
    color: #fff;
    border-radius: 3px;
    width: 190px;
    height: 53px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px 10px 65px 0px #ccd4e0;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    display: block;
    line-height: 45px;
    text-align: -webkit-center;
    float: left;
    margin-left: 15px;
    transition: .5s;
}

ul.ft-nav.social-nav.my-3 {
    float: left;
}