<ng-controller ng-controller="PostController as postController" ng-init="loadPost()">
    <div class="news-link">
        <h3 class="news-log"><span class="time-data">{{post.date}}</span> {{post.title}}</h3>
        <hr/>
        <p class="description" ng-bind-html="post.body"></p>
    </div>
    <div class="news-link" style="margin-top: -27px;" ng-init="loadComments()">
        <div class="row">
            <div class="col-md-9">
                <h3>Komentarze ({{comments.length}})</h3>
                <p ng-hide="comments.length">Nikt nic jeszcze nie napisał.</p>
                <div class="comment mb-2 row" ng-repeat="comment in comments">
                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <img class="mx-auto rounded-circle img-fluid" src="https://img.busy.org/@{{comment.author}}/" alt="avatar">
                    </div>
                    <div class="comment-content col-md-11 col-sm-10">
                        <h6 class="small comment-meta"><b>@{{comment.author}}</b> Today, 2:38 (<a href="" ng-click="vote(comment.author, comment.permlink, 10000)">+{{comment.net_votes}}</a>)</h6>
                        <div class="comment-body">
                            <p>
                                {{comment.body}}
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <b ng-hide="isAuth()">Aby napisać wlasny komentarz - <a href="login">zaloguj sie</a>.</b>
        <form ng-show="isAuth()" ng-submit="comment()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Tutaj mozesz cos wpisac!"
                       ng-model="message" required>
                <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" ng-disabled="loading">Wyślij</button>
      </span>
            </div>
        </form>
        <br/>
    </div>
</ng-controller>