<ng-controller ng-controller="Main as main" ng-init="loadPosts()">
    <div class="news-link" ng-repeat="post in posts">
        <h3 class="news-log"><span class="time-data">{{post.date}}</span> <a href="blog/{{post.permlink}}">{{post.title}}</a>
        </h3>
        <hr/>
        <p class="description" ng-bind-html="post.body"></p>
        <a href="blog/{{post.permlink}}" class="btn-view"><i class="fa fa-eye" aria-hidden="true"></i> Czytaj
            dalej...</a>
    </div>
</ng-controller>