<ng-controller ng-controller="LoginController as loginController">
    <div class="news-link">
        <h3>Zaloguj się</h3>
        <hr/>
        <div class="alert alert-danger" role="alert" ng-show="isAuth()">Jesteś już zalogowany.</div>
        <form ng-submit="login()" ng-hide="isAuth()">
            <p>Twoim loginem i haslem sa dane wykorzystywane do logowania w sieci STEEM (np. na stronie <a href="https://steemit.com">steemit.com</a>). Jesli nie posiadasz takiego konta, zalozysz je za darmo <a href="https://signup.steemit.com/">tutaj</a> w ciagu kilku minut. Aktywacja konta trwa do paru dni.</p>
            <p>Po zalogowaniu się będziesz mogl komentowac posty oraz oceniac je. </p>
            <p><b>Nie przechowywujemy ZADNYCH Twoich danych.</b> Kod strony jest dostepny do wgladu <a href="https://git.juniorjpdj.pl/ucraft/ucraft.pl">tutaj</a>.</p>
            <hr/>
            <div class="form-group">
                <label for="loginNickname"><b>Nazwa konta</b></label>
                <input type="text" class="form-control" id="loginNickname" ng-model="loginNickname"
                       placeholder="Nazwa konta" required="">
            </div>
            <div class="form-group">
                <label for="loginPassword"><b>Haslo</b></label>
                <input type="password" class="form-control" id="loginPassword" ng-model="loginPassword"
                       placeholder="Twoje haslo" required="">
                <small id="emailHelp" class="form-text text-muted">Uzyj jednego z tych kluczy: posting (zalecany) lub master.</small>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="loginInProgress">Zaloguj się</button>
        </form>
    </div>
</ng-controller>