<ng-controller ng-controller="LoginController as loginController">
    <div class="news-link">
        <h3 ng-show="isAuth()">Blad</h3>
        <h3 ng-show="!isAuth()">Wylogowano</h3>
        <hr/>
        <p ng-show="isAuth()">Wystapil blad podczas wylogowywania.</p>
        <p ng-show="!isAuth()">Zostales pomyslnie wylogowany.<br/>
            <a href="login">Zaloguj sie ponownie</a> | <a href="/">Wroc na strone glowna</a></p>
    </div>
</ng-controller>