<ng-controller ng-controller="LoginController as loginController">
    <div class="news-link">
        <h3>Witaj {{user.name}}</h3>
        <hr/>
        <a href="logout">Wyloguj się</a>
    </div>
</ng-controller>