<ng-controller>
    <div class="news-link">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdkWz820NoydXsg1M2WvRxW9mt5kIwAXKiFjUMVG5MPQ90xyw/viewform?embedded=true"
                width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...
        </iframe>
    </div>
</ng-controller>