<ng-controller>
    <div class="news-link">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdz_8QRd-BCXPflex4dN21M-shtIbYeo93FQkdm3d3KRYiyJQ/viewform?embedded=true"
                width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading...
        </iframe>
    </div>
</ng-controller>