<ng-controller>
    <div class="news-link">
        <h3>Prosba o unbana</h3>
        <hr/>
        <p ng-hide="isAuth()">Aby wypelnic formularz z prosba o unbana - <a href="login">zaloguj sie</a>.</p>

    </div>
</ng-controller>